@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
	font-size: 1em;
}
p{
	text-align: justify;	
}
header{
	position: fixed;
	left: 0;
	top: -31px;
	width: 100%;
	padding: 18px 0;	
	z-index:100;
	background: #17649E;
}
#menu {
	margin: 30px 0;
	
}
#menu li {
	display: inline-block;
	font-family: "OpenSans";
}
#menu li a {
	color: #fff;
	font-size: 22px;
	padding: 10px 25px;
	font-weight: bold;
	left:50px;

}
#banner{
	width: 100%;
	height: 539px;
	background-image: url("../img/banner.jpg");
	background-position: 0px -100px;
	top: -260px;
	opacity: 0.4;
}
#sobre h1 {
	color: #0064A2;
	top: -450px;
	position: relative;
	font-size: 92px;
	text-shadow:2px 2px 2px rgba(0, 0, 0, .45);
	font-family: 'OpenSans';
	margin-left: 50px;
}
#sobre h1 small {
	font-size: 32px;
	display: block;
	color: #000;
	font-family: 'OpenSans';
	font-weight: bold;
	
}
 #news h2 {
	color:#17649E;
	font-family: 'OpenSans';
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
#news {
	position: relative;
    top: -150px;
}
#news h2 small{
	font-size: 20px;
	display: block;
	color: #000;
	font-family: 'OpenSans';
	font-weight: bold;
	
}
 #news h3{
 	font-size: 22px;
	display: block;
	color: #000;
	font-family: 'OpenSans';
	top: 20px;
 }
 #news hr {
	border:#17649E solid 7px;
	width: 800px;
	margin: 0 auto;
}
#propaganda{
	width: 100%;
    height: 350px;  
    background-image: url("../img/meio.png");
    top:-127px;
    position: relative;
 }   
 figure.foto-legenda{
 	position: relative;
 	border: 8px solid white;
 	box-shadow: 1px 1px 4px black;
 	width: 50%;
	height: 50%;
	float:left;

}
figure.foto-legenda img{
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;

}
figure.foto-legenda figcaption{
	opacity:0;
	position: absolute;
	top:0px;
	background-color: rgba(0,0,0,0);
	color: #fff;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;

}

h4{
	font-size: 50px;
	display: block;
	color: #000;
	font-family: 'OpenSans';
}
#texto h3{
	padding:10px;
	text-align: center;
	left: 10px;
	position: relative;	
}
#texto h1{
	padding:10px;
	text-align: center;
	left: 10px;
	position: relative;	
}
#news h2 {
	color:#17649E;
	font-family: 'OpenSans-Light';
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
}
 #news hr {
	border:#17649E solid 5px;
	width: 100%; 
	margin: 0 auto;
}
#news .thumbnails {
	margin-top: 20px;
}
#news .thumbnails h3 {
	color: #17649E;
	font-size: 18px;
	font-family: 'OpenSans';
	font-weight: bold;
	margin-bottom: 0;
}
#news .thumbnails time {
	color:#A7A7A7;
	font-size: 18px;
	font-family: 'OpenSans';
}
